<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <assemblyBinding>

      <dependentAssembly id="MongoDB.Driver">
        <assemblyIdentity name="MongoDB.Driver" culture="neutral" />
        <codeBase version="2.2.4.26" href="bin\MongoDB.2.2.4\MongoDB.Driver.dll" />
      </dependentAssembly>

      <dependentAssembly id="MongoDB.Bson">
        <assemblyIdentity name="MongoDB.Bson" culture="neutral" />
        <codeBase version="2.2.4.26" href="bin\MongoDB.2.2.4\MongoDB.Bson.dll " />
      </dependentAssembly>

      <dependentAssembly id="MongoDB.Driver.Core">
        <assemblyIdentity name="MongoDB.Driver.Core" culture="neutral" />
        <codeBase version="2.2.4.26" href="bin\MongoDB.2.2.4\MongoDB.Driver.Core.dll" />
      </dependentAssembly>

    </assemblyBinding>

  </sitecore>
</configuration>
