<!--

Purpose: The config relaces default blobs storage destination to Mongo DB GridFS

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <mongo>
      <dataAccess>
        
        <dbContext type="Sitecore.Gridify.Media.Driver.DbContext">
          <Media ref="mongo/dataAccess/repositories/mediaDataRepository"></Media>
        </dbContext>

        <repositories>
          <mediaDataRepository type="Sitecore.Gridify.Media.Driver.MediaDataRepository">
            <param desc="connectionStringName">media</param>
            <param desc="bucketName">media</param>
          </mediaDataRepository>
        </repositories>
        
      </dataAccess>      
    </mongo>

    <dataProviders>
      <methodGroups> 
        <blobs>
          <SetBlobStream />
          <GetBlobStream />
          <BlobStreamExists />
          <RemoveBlobStream />
        </blobs>
      </methodGroups>

      <gridFSMediaDataProvider type="Sitecore.Gridify.Media.Provider.GridFSMediaProvider, Sitecore.Gridify.Media">
        <param desc="dbContext" ref="mongo/dataAccess/dbContext"/>
        <EnableGroup>blobs</EnableGroup>
        <CacheOptions.DisableAll>true</CacheOptions.DisableAll>
      </gridFSMediaDataProvider>

    </dataProviders>

    <databases>

      <database id="master">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/gridFSMediaDataProvider" patch:before="*[@ref='dataProviders/main']"/>
        </dataProviders>
      </database>

      <database id="web">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/gridFSMediaDataProvider" patch:before="*[@ref='dataProviders/main']"/>
        </dataProviders>
      </database>

    </databases>

  </sitecore>
</configuration>